*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #07141d;
}
#accordion{
    margin: 100px auto;
    width: 600px;
}
#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #c20000;
}
#accordion li label span{
    transform: rotate(90deg);
    font-size: 18px;
    color: #333;
}